In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st
import requests
import time
import pycountry
from scipy.stats import linregress

In [2]:
# Data File
hotel_data_path = "data/hotel_bookings.csv"

# Read Data File and store into Pandas DataFrames
hotel_data = pd.read_csv(hotel_data_path)

hotel_data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
hotel_data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [4]:
# Create a new DataFrame
new_hotel_data = hotel_data.copy()

# Rename columns for better understanding
rename_columns = {
    'hotel': 'Hotel',
    'is_canceled': 'Is canceled',
    'lead_time': 'Lead time',
    'arrival_date_year': 'Arrival date year',
    'arrival_date_month': 'Arrival date month',
    'arrival_date_week_number': 'Arrival date week number',
    'arrival_date_day_of_month': 'Arrival date day of month',
    'stays_in_weekend_nights': 'Stays in weekend nights',
    'stays_in_week_nights': 'Stays in week nights',
    'adults': 'Adults',
    'children': 'Children',
    'babies': 'Babies',
    'meal': 'Meal',
    'country': 'Country',
    'market_segment': 'Market segment',
    'distribution_channel': 'Distribution channel',
    'is_repeated_guest': 'Is repeated guest',
    'previous_cancellations': 'Previous cancellations',
    'previous_bookings_not_canceled': 'Previous bookings not canceled',
    'reserved_room_type': 'Reserved room type',
    'assigned_room_type': 'Assigned room type',
    'booking_changes': 'Booking changes',
    'deposit_type': 'Deposit type',
    'agent': 'Agent',
    'company': 'Company',
    'days_in_waiting_list': 'Days in waiting list',
    'customer_type': 'Customer type',
    'adr': 'ADR',
    'required_car_parking_spaces': 'Required car parking spaces',
    'total_of_special_requests': 'Total of special requests',
    'reservation_status': 'Reservation status',
    'reservation_status_date': 'Reservation status date'
}

# Rename DataFrame columns using dictionary
new_hotel_data.rename(columns=rename_columns, inplace=True)

# Show the new column names
new_hotel_data.columns

Index(['Hotel', 'Is canceled', 'Lead time', 'Arrival date year',
       'Arrival date month', 'Arrival date week number',
       'Arrival date day of month', 'Stays in weekend nights',
       'Stays in week nights', 'Adults', 'Children', 'Babies', 'Meal',
       'Country', 'Market segment', 'Distribution channel',
       'Is repeated guest', 'Previous cancellations',
       'Previous bookings not canceled', 'Reserved room type',
       'Assigned room type', 'Booking changes', 'Deposit type', 'Agent',
       'Company', 'Days in waiting list', 'Customer type', 'ADR',
       'Required car parking spaces', 'Total of special requests',
       'Reservation status', 'Reservation status date'],
      dtype='object')

In [5]:
new_hotel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Hotel                           119390 non-null  object
 1   Is canceled                     119390 non-null  int64
 2   Lead time                       119390 non-null  int64
 3   Arrival date year               119390 non-null  int64
 4   Arrival date month              119390 non-null  object
 5   Arrival date week number        119390 non-null  int64
 6   Arrival date day of month       119390 non-null  int64
 7   Stays in weekend nights         119390 non-null  int64
 8   Stays in week nights            119390 non-null  int64
 9   Adults                          119390 non-null  int64
 10  Children                        119386 non-null  float64
 11  Babies                          119390 non-null  int64
 12  Meal                            119390 non-null  object
 13  Country                         118902 non-null  object
 14  Market segment                  119390 non-null  object
 15  Distribution channel            119390 non-null  object
 16  Is repeated guest               119390 non-null  int64
 17  Previous cancellations          119390 non-null  int64
 18  Previous bookings not canceled  119390 non-null  int64
 19  Reserved room type              119390 non-null  object
 20  Assigned room type              119390 non-null  object
 21  Booking changes                 119390 non-null  int64
 22  Deposit type                    119390 non-null  object
 23  Agent                           103050 non-null  float64
 24  Company                         6797 non-null    float64
 25  Days in waiting list            119390 non-null  int64
 26  Customer type                   119390 non-null  object
 27  ADR                             119390 non-null  float64
 28  Required car parking spaces     119390 non-null  int64
 29  Total of special requests       119390 non-null  int64
 30  Reservation status              119390 non-null  object
 31  Reservation status date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [6]:
# Removing the 'Company' column due to missing data
new_hotel_data.drop('Company',inplace=True,axis=1)

In [12]:
# Replacement dictionary for the 'Meal' column
meal_replacements = {
    'SC': 'Self-catering',
    'BB': 'Bed and breakfast',
    'HB': 'Half board',
    'FB': 'Full board'
}

# Replace acronyms with full names in the 'Meal' column
new_hotel_data['Meal'] = new_hotel_data['Meal'].replace(meal_replacements)

In [13]:
# Check changes
new_hotel_data['Meal'].unique()

array(['Bed and breakfast', 'Full board', 'Half board', 'Self-catering',
       'Undefined'], dtype=object)

In [14]:
# Remove duplicate rows to prevent skewing the analysis.
new_hotel_data.drop_duplicates(inplace=True)

In [15]:
# Check columns for null values
null_columns = new_hotel_data.columns[new_hotel_data.isnull().any()].tolist()
print("Columns with null values:")
print(null_columns)

Columns with null values:
['Children', 'Agent']

In [16]:
# Check the data in the 'Children' column
new_hotel_data['Children'].astype(str).unique()

array(['0.0', '1.0', '2.0', '10.0', '3.0', 'nan'], dtype=object)

In [17]:
# Check the data in the 'Agent' column
new_hotel_data['Agent'].astype(str).unique()

array(['nan', '304.0', '240.0', '303.0', '15.0', '241.0', '8.0', '250.0',
       '115.0', '5.0', '175.0', '134.0', '156.0', '243.0', '242.0', '3.0',
       '105.0', '40.0', '147.0', '306.0', '184.0', '96.0', '2.0', '127.0',
       '95.0', '146.0', '9.0', '177.0', '6.0', '143.0', '244.0', '149.0',
       '167.0', '300.0', '171.0', '305.0', '67.0', '196.0', '152.0',
       '142.0', '261.0', '104.0', '36.0', '26.0', '29.0', '258.0',
       '110.0', '71.0', '181.0', '88.0', '251.0', '275.0', '69.0',
       '248.0', '208.0', '256.0', '314.0', '126.0', '281.0', '273.0',
       '253.0', '185.0', '330.0', '334.0', '328.0', '326.0', '321.0',
       '324.0', '313.0', '38.0', '155.0', '68.0', '335.0', '308.0',
       '332.0', '94.0', '348.0', '310.0', '339.0', '375.0', '66.0',
       '327.0', '387.0', '298.0', '91.0', '245.0', '385.0', '257.0',
       '393.0', '168.0', '405.0', '249.0', '315.0', '75.0', '128.0',
       '307.0', '11.0', '436.0', '1.0', '201.0', '183.0', '223.0',
       '368.0', '336.0', '291.0', '464.0', '411.0', '481.0', '10.0',
       '154.0', '468.0', '410.0', '390.0', '440.0', '495.0', '492.0',
       '493.0', '434.0', '57.0', '531.0', '420.0', '483.0', '526.0',
       '472.0', '429.0', '16.0', '446.0', '34.0', '78.0', '139.0',
       '252.0', '270.0', '47.0', '114.0', '301.0', '193.0', '182.0',
       '135.0', '350.0', '195.0', '352.0', '355.0', '159.0', '363.0',
       '384.0', '360.0', '331.0', '367.0', '64.0', '406.0', '163.0',
       '414.0', '333.0', '427.0', '431.0', '430.0', '426.0', '438.0',
       '433.0', '418.0', '441.0', '282.0', '432.0', '72.0', '450.0',
       '180.0', '454.0', '455.0', '59.0', '451.0', '254.0', '358.0',
       '469.0', '165.0', '467.0', '510.0', '337.0', '476.0', '502.0',
       '527.0', '479.0', '508.0', '535.0', '302.0', '497.0', '187.0',
       '13.0', '7.0', '27.0', '14.0', '22.0', '17.0', '28.0', '42.0',
       '20.0', '19.0', '45.0', '37.0', '61.0', '39.0', '21.0', '24.0',
       '41.0', '50.0', '30.0', '54.0', '52.0', '12.0', '44.0', '31.0',
       '83.0', '32.0', '63.0', '60.0', '55.0', '56.0', '89.0', '87.0',
       '118.0', '86.0', '85.0', '210.0', '214.0', '129.0', '179.0',
       '138.0', '174.0', '170.0', '153.0', '93.0', '151.0', '119.0',
       '35.0', '173.0', '58.0', '53.0', '133.0', '79.0', '235.0', '192.0',
       '191.0', '236.0', '162.0', '215.0', '157.0', '287.0', '132.0',
       '234.0', '98.0', '77.0', '103.0', '107.0', '262.0', '220.0',
       '121.0', '205.0', '378.0', '23.0', '296.0', '290.0', '229.0',
       '33.0', '286.0', '276.0', '425.0', '484.0', '323.0', '403.0',
       '219.0', '394.0', '509.0', '111.0', '423.0', '4.0', '70.0', '82.0',
       '81.0', '74.0', '92.0', '99.0', '90.0', '112.0', '117.0', '106.0',
       '148.0', '158.0', '144.0', '211.0', '213.0', '216.0', '232.0',
       '150.0', '267.0', '227.0', '247.0', '278.0', '280.0', '285.0',
       '289.0', '269.0', '295.0', '265.0', '288.0', '122.0', '294.0',
       '325.0', '341.0', '344.0', '346.0', '359.0', '283.0', '364.0',
       '370.0', '371.0', '25.0', '141.0', '391.0', '397.0', '416.0',
       '404.0', '299.0', '197.0', '73.0', '354.0', '444.0', '408.0',
       '461.0', '388.0', '453.0', '459.0', '474.0', '475.0', '480.0',
       '449.0'], dtype=object)

In [18]:
# Replace 'nan' values in 'Children' and 'Agent' columns with 0
new_hotel_data = new_hotel_data.assign(
    Children=new_hotel_data['Children'].fillna(0),
    Agent=new_hotel_data['Agent'].fillna(0)
)

In [19]:
# Check columns for null values
null_columns = new_hotel_data.columns[new_hotel_data.isnull().any()].tolist()
print("Columns with null values:")
print(null_columns)

Columns with null values:
[]

In [20]:
# Convert columns to appropriate data types
new_hotel_data['Arrival date month'] = new_hotel_data['Arrival date month'].astype('category')
new_hotel_data['Children'] = new_hotel_data['Children'].astype('int64')
new_hotel_data['Agent'] = new_hotel_data['Agent'].astype('int64')
new_hotel_data['Reservation status date'] = pd.to_datetime(new_hotel_data['Reservation status date'])

# Display the data types to verify changes
print(new_hotel_data.dtypes)

Hotel                                     object
Is canceled                                int64
Lead time                                  int64
Arrival date year                          int64
Arrival date month                      category
Arrival date week number                   int64
Arrival date day of month                  int64
Stays in weekend nights                    int64
Stays in week nights                       int64
Adults                                     int64
Children                                   int64
Babies                                     int64
Meal                                      object
Country                                   object
Market segment                            object
Distribution channel                      object
Is repeated guest                          int64
Previous cancellations                     int64
Previous bookings not canceled             int64
Reserved room type                        object
Assigned room type                        object
Booking changes                            int64
Deposit type                              object
Agent                                      int64
Days in waiting list                       int64
Customer type                             object
ADR                                      float64
Required car parking spaces                int64
Total of special requests                  int64
Reservation status                        object
Reservation status date           datetime64[ns]
dtype: object

In [21]:
# Add a 'Stay duration' column that calculates the total length of stay
new_hotel_data['Stay duration'] = new_hotel_data['Stays in weekend nights'] + new_hotel_data['Stays in week nights']

# Add a 'Total guests' column that adds adults, children and babies
new_hotel_data['Total guests'] = new_hotel_data['Adults'] + new_hotel_data['Children'] + new_hotel_data['Babies']

In [22]:
# Export the Data into a csv
## hotel_data_df.to_csv("output_data/hotel_data.csv", index_label="")

In [23]:
# Save the figure
## plt.savefig("output_data/Fig1.png")